body{
    margin: 0;
    padding: 0;
    background: #071319;
    font-family: 'Tahoma', serif;
}
.wrapper{
    margin: 0 100px;
}
#game{
    margin: 0 auto;
    max-width: 900px;
}
.game-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* logo and help buttons block */
.logo-help{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.btn{
    width: 100px;
    height: 50px;
    border: none;
    font-size: 22px;
    color: #eaab1b;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 100px;
    background-color: #443cb6;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.help :hover{
    box-shadow: inset 0 1px 21px 0 rgba(255,255,255,0.7);
}
.fa-solid{
    pointer-events: none;
}
.help{
    transform: translate(0, 40px);
}
.round{
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}
.round-content{
    padding-left: 5px;
    font-size: 30px;
    color: #e1a02e;
}
.withdraw{
    max-width: 300px;
    width: 100%;
    padding: 0 30px;
    /*margin: 0 auto;*/
}
.withdraw-container :hover{
    box-shadow: inset 0 1px 21px 0 rgba(    255,255,255,0.7);
}

/* timer block */
.timer{
    width: 185px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.timer span{
    font-size: 40px;
}

/* prizes list block */
.steps-list{
    font-size: 18px;
    color: #e1a02e;
}
.steps-list ul{
    padding: 0;
}
.steps-list li{
    list-style: none;
    line-height: 22px;
    margin-bottom: 8px;
    padding: 0 10px 1px;
    width: 165px;
}
.order-number{
    width: 30px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
}
.prize-number{
    padding-left: 5px;
}
.steps-list .fireproof{
    color: white;
}
.current{
    font-weight: 700;
    background-color: #e1a02e;
    color: white;
    border-radius: 15px;
}

/* Questions block */
.questions-block{
    color: white;
    margin: 40px auto;
}
.question{
    max-width: 700px;
    min-height: 100px;
    border-radius: 20px;
    border: 1px darkblue solid;
    background: #443cb6;
    margin: 0 auto;
    text-align: center;
}
.question-content{
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    line-height: 25px;
}


/*Answers block*/
.answers-block{
    width: 650px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: space-evenly;
}
.answer{
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 2px darkblue solid;
    background: #443cb6;
    cursor: pointer;
    font-size: 17px;
}
.answer-order{
    margin: 0 20px;
    font-size: 20px;
    color: #e1a02e;
}
.answer-hover{
    color: black;
    background: #e1a02e;
    border-color: #c98f29;
}
.answer-order-hover{
    color: white;
}
.answer-chose{
    color: black;
    background: #e1a02e;
    border: #ffffff 2px solid;
}
.answer-order-chose{
    color: white;
}
.answer-correct{
    color: white;
    border-color: limegreen;
    background-color: limegreen;
}
.answer-disabled{
    background-color: #302981;
}

/* Hall Assistance and Call Friend */
.help-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.help-container{
    width: 600px;
    height: 400px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
.help-container-title{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.help-container-inner{
    height: 220px;
    display: flex;
}
.help-container-inner-column{
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
.help-container-graph{
    width: 40px;
    height: 130px;
    background: white;
    margin-bottom: 10px;
}
.help-container-continue{
    width: 170px;
    height: 40px;
    background: #da992b;
    margin-bottom: 20px;
    border: #6b4b14 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.help-container-continue-hover {
    color: white;
    background: #93681e;
    border-color: #d2942a;
}
.help-container-inner-text{
    color: white;
    font-size: 18px;
    padding: 30px;
}

.disabled-btn{
    opacity: 0.6;
}

@media(max-width: 1100px){
    .wrapper{
        margin: 0 30px
    }
}
@media(max-width: 750px){
    .game-row{
        flex-wrap: wrap;
    }
    .timer{
        margin-top: 10px;
        order: 3;
        width: 100px;
        visibility: visible !important;
    }
    .help{
        order: 4;
        transform: none;
        margin: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .help-btn{
        margin: 10px;
    }
    .logo{
        width: 90%;
    }
    .steps-list{
        height: 180px;
        overflow: scroll;
        border: 1px white solid;
        border-radius: 10px;
    }
    .answers-block{
        grid-template-columns: auto;
        justify-items: center;
        justify-content: normal;
        width: 90%;
    }
    .answer{
        width: 80%;
    }
}